.section3 {
  /* height: 1165px; */
  padding: 75px 0 64px;
  width: 100%;
  background: #FFF;

}

.section3-container {
  /* display: flex;
justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(3, 316px);
  justify-content: space-between;
  margin-top: 60px;
  gap: 98px 20px;
}

.section3-title {
  color: #0E4D6C;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
}

.section3-block {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

}

.section3-block-content {
  width: 100%;
  /* height: 392px; */
  background: #FFF;
  box-shadow: 0px 0px 41px -2px rgba(0, 0, 0, 0.25);
  /* margin-top: 60px; */
  padding: 28px 30px;

  display: flex;
  flex-direction: column;
}

.section3-block-title {
  /* width: 255px; */
  color: #0E4D6C;
  font-size: 24px;
  /* margin-left: 36px; */
  font-weight: 500;
  margin-top: 44px;
}

.section3-block-title-only {
  /* width: 255px; */
  color: #0E4D6C;
  font-size: 22px;
  font-weight: 500;
  /* margin-left: 36px; */
  margin-top: 44px;
}

.section3-block-description {
  /* width: 255px; */
  color: #516F7D;
  /* margin-left: 38px; */
  font-size: 18px;
  font-weight: 300;
  line-height: 122.7%;
  margin-top: 16px;
  /* 22.086px */
  margin-bottom: 36px;
}

.section3-block-icon {
  /* margin-top: 28px; */
  /* margin-left: 32px;E */
}

.section3-block-button {
  border: 2px solid #0E4D6C;
  width: 100%;
  max-width: 186px;
  height: 44px;
  color: #0E4D6C;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  /* margin-bottom: 24px; */
  /* margin-left: 36px; */
  /* margin-top: 20px; */

  margin-top: auto;
}

.section3-block-button:hover {
  background: #f05833;
  border-color: #fff;
  box-shadow: 0px 0px 30px 0px #f05833;
}